@import "tailwindcss";


@theme {
  /* orange */
  --color-tainoi-50: #fff9eb;
  --color-tainoi-100: #ffeec6;
  --color-tainoi-200: #ffdb88;
  --color-tainoi-300: #ffc757; /* main orange */
  --color-tainoi-400: #ffab20;
  --color-tainoi-500: #f98707;
  /* yellow */
  --color-broom-50: #fdfee8;
  --color-broom-100: #fcffc2;
  --color-broom-200: #fcff87;
  --color-broom-300: #fffc43; /* main yellow */
  --color-broom-400: #fff01a;
  --color-broom-500: #efd603;
  /* blue */
  --color-blue-ribbon-50: #eef4ff;
  --color-blue-ribbon-100: #d9e5ff;
  --color-blue-ribbon-200: #bcd1ff;
  --color-blue-ribbon-300: #8eb5ff;
  --color-blue-ribbon-400: #598cff;
  --color-blue-ribbon-500: #406dff; /* main blue */
  --color-blue-ribbon-600: #1b40f5;
  /* pink */
  --color-lavender-rose-50: #fef1f9;
  --color-lavender-rose-100: #fee5f4;
  --color-lavender-rose-200: #fecceb; /* main pink */
  --color-lavender-rose-300: #ff9cd7;
  --color-lavender-rose-400: #fe68be;
  --color-lavender-rose-500: #f83ca3;
  --color-lavender-rose-600: #e81a81;
  /* sky */
  --color-onahau-50: #ecfdff;
  --color-onahau-100: #cdf7ff; /* main sky */
  --color-onahau-200: #a3edfe;
  /* baby yellow */
  --color-witch-haze-50: #fefee8;
  --color-witch-haze-100: #ffffc2;
  --color-witch-haze-200: #fffc99; /* main baby-yellow */
  --color-witch-haze-300: #fff245;
  --color-witch-haze-400: #fce213;
  /* mint */
  --color-snowy-mint-50: #effef0;
  --color-snowy-mint-100: #ceffd1;
  --color-snowy-mint-200: #b5fdba;
  --color-snowy-mint-300: #7cf986;

}

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeekbleMalang2WOFF2';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}